{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast with alert interface here -->
  <div class="p-5" style="width: 400px; align: center;">
    <div class="container-fluid" style="border:1px solid #cecece; padding:10px">
      <div class = "h4" >ALERT: storm today @ 7:00 - 9:00 pm. </div>
      <button class="button">see details</button>
      <button class="button">OK</button>
    </div>
  </div>
  
</body>
</html>





